ul {
  display: flex;
  list-style: none;
}

#footer {
  background: rgba(245, 245, 245, 0.712);
}

@media only screen and (max-width: 600px) {
  ul {
    flex-direction: column;
  }
  #footer {
    height: 24vh;
    padding-left: 10vw;
  }
}
